h1 {
  font-family: lust, serif;
}

h3 {
  font-family: lust, serif;
}

h6 {
  font-family: lust, serif;
}

a {
  text-decoration: none;
  font-family: kepler-std, serif;
  color: #000;
}

p {
  font-family: kepler-std, serif;
}

.title {
  border-right: solid 2px #000;
}
