html {
  font-family: neuzeit-grotesk, sans-serif;
}

h1 {
  font-family: lust, serif;
}

h2 {
  font-family: lust, serif;
}

.title {
  font-family: lust, serif;
  padding-right: 0;
}

h6 {
  font-family: lust, serif;
}

a {
  text-decoration: none;
  font-family: neuzeit-grotesk, sans-serif;
  color: #000;
}

.line {
  border-right: solid 2px #000;
}
